body {
    /*ein Kommentar*/
    max-width: 1280px;
    margin: auto;
    font-family: Arial;
}

header {
    text-align: center;
}

header p {
    font-size: 0.8em;
    /*relative veränderung - 80% Größe*/
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    /*mit gewissem Einzug von der rechten Seite */
    margin-top: -2em;
    /*um zwei Einheiten nach oben schieben*/

}

.white,
.white a:link,
.white a:visited {
    /* a: link - Text, der ein Link ist / a:visited - Links, die man schon besucht hat */
    color: white;
}

header nav img {
    border-radius: 50%; /*Ecken abrunden*/
}

a:link, a:visited {
    color: black;
}